.navbar {
  background-color: rgb(45, 44, 44);
}
.navbar .navbar-nav .nav-item .color-change {
  color: #7e8184;
}
.navbar .navbar-nav .nav-item .color-change:hover {
  color: #aeafb0;
}
.container {
  margin-top: 364px;
}
